# If else

In [1]:
medium <- "LinkedIn"
    num_views <- 10000

    if(medium == 'instagram'){
      print("Great,You have a instagram account")
    }else{
      print("You dont have instagram account")
    }

[1] "You dont have instagram account"

# else if

In [2]:
quantity <-  10

# Create multiple condition statement

if (quantity <20) {
      print('Not enough for today')
} else if (quantity > 20  &quantity <= 30) {
     print('Average day')
} else {
      print('What a great day!')
}

[1] "Not enough for today"

In [3]:
category <- 'A'
price <- 10

if (category =='A'){
  cat('A vat rate of 8% is applied.','The total price is',price *1.08)  
} else if (category =='B'){
    cat('A vat rate of 10% is applied.','The total price is',price *1.10)  
} else {
    cat('A vat rate of 20% is applied.','The total price is',price *1.20)  
}

A vat rate of 8% is applied. The total price is 10.8

## One line If else condition

In [12]:
val = 10

ifelse(val <=10,1,0) # set 1 if val is less than 1 else 0

[1] 1

In [17]:
# Multi if else condition

val = 13

ifelse(val <=10,1,ifelse(val >5,"Greater than 10",6))

[1] "Greater than 10"