In [20]:
# Install packages
# install.packages("dplyr")
# install.packages("hflights")

In [21]:
library(dplyr)
library(hflights)

In [23]:

data("hflights") # Loading hflights data
head(hflights,5)

     Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
5424 2011 1     1          6         1400    1500    AA            428
5425 2011 1     2          7         1401    1501    AA            428
5426 2011 1     3          1         1352    1502    AA            428
5427 2011 1     4          2         1403    1513    AA            428
5428 2011 1     5          3         1405    1507    AA            428
     TailNum ActualElapsedTime ⋯ ArrDelay DepDelay Origin Dest Distance TaxiIn
5424 N576AA  60                ⋯ -10       0       IAH    DFW  224      7
5425 N557AA  60                ⋯  -9       1       IAH    DFW  224      6
5426 N541AA  70                ⋯  -8      -8       IAH    DFW  224      5
5427 N403AA  70                ⋯   3       3       IAH    DFW  224      9
5428 N492AA  62                ⋯  -3       5       IAH    DFW  224      9
     TaxiOut Cancelled CancellationCode Diverted
5424 13      0                          0
5425  9      0                          0
5426 17      0                          0
5427 22      0                          0
5428  9      0                          0

In [24]:
dim(hflights)

[1] 227496     21

In [25]:
str(hflights)

'data.frame':	227496 obs. of  21 variables:
 $ Year             : int  2011 2011 2011 2011 2011 2011 2011 2011 2011 2011 ...
 $ Month            : int  1 1 1 1 1 1 1 1 1 1 ...
 $ DayofMonth       : int  1 2 3 4 5 6 7 8 9 10 ...
 $ DayOfWeek        : int  6 7 1 2 3 4 5 6 7 1 ...
 $ DepTime          : int  1400 1401 1352 1403 1405 1359 1359 1355 1443 1443 ...
 $ ArrTime          : int  1500 1501 1502 1513 1507 1503 1509 1454 1554 1553 ...
 $ UniqueCarrier    : chr  "AA" "AA" "AA" "AA" ...
 $ FlightNum        : int  428 428 428 428 428 428 428 428 428 428 ...
 $ TailNum          : chr  "N576AA" "N557AA" "N541AA" "N403AA" ...
 $ ActualElapsedTime: int  60 60 70 70 62 64 70 59 71 70 ...
 $ AirTime          : int  40 45 48 39 44 45 43 40 41 45 ...
 $ ArrDelay         : int  -10 -9 -8 3 -3 -7 -1 -16 44 43 ...
 $ DepDelay         : int  0 1 -8 3 5 -1 -1 -5 43 43 ...
 $ Origin           : chr  "IAH" "IAH" "IAH" "IAH" ...
 $ Dest             : chr  "DFW" "DFW" "DFW" "DFW" ...
 $ Distance         : int  224 224 224 224 224 224 224 224 224 224 ...
 $ TaxiIn           : int  7 6 5 9 9 6 12 7 8 6 ...
 $ TaxiOut          : int  13 9 17 22 9 13 15 12 22 19 ...
 $ Cancelled        : int  0 0 0 0 0 0 0 0 0 0 ...
 $ CancellationCode : chr  "" "" "" "" ...
 $ Diverted         : int  0 0 0 0 0 0 0 0 0 0 ...

In [ ]:
# Tibble is a package in the R programming language that is used to manipulate and print data frames
# A tribble () is used for creating a row-wise, readable tibble in R. 
# This is useful for creating small tables of data.

In [29]:
flights<-as_tibble(hflights)

print(flights, n=18)

# A tibble: 227,496 × 21
    Year Month DayofMo…¹ DayOf…² DepTime ArrTime Uniqu…³ Fligh…⁴ TailNum Actua…⁵
   <int> <int>     <int>   <int>   <int>   <int> <chr>     <int> <chr>     <int>
 1  2011     1         1       6    1400    1500 AA          428 N576AA       60
 2  2011     1         2       7    1401    1501 AA          428 N557AA       60
 3  2011     1         3       1    1352    1502 AA          428 N541AA       70
 4  2011     1         4       2    1403    1513 AA          428 N403AA       70
 5  2011     1         5       3    1405    1507 AA          428 N492AA       62
 6  2011     1         6       4    1359    1503 AA          428 N262AA       64
 7  2011     1         7       5    1359    1509 AA          428 N493AA       70
 8  2011     1         8       6    1355    1454 AA          428 N477AA       59
 9  2011     1         9       7    1443    1554 AA          428 N476AA       71
10  2011     1        10       1    1443    1553 AA          428 N504AA       70
11  2011     1        11       2    1429    1539 AA          428 N565AA       70
12  2011     1        12       3    1419    1515 AA          428 N577AA       56
13  2011     1        13       4    1358    1501 AA          428 N476AA       63
14  2011     1        14       5    1357    1504 AA          428 N552AA       67
15  2011     1        15       6    1359    1459 AA          428 N462AA       60
16  2011     1        16       7    1359    1509 AA          428 N555AA       70
17  2011     1        17       1    1530    1634 AA          428 N518AA       64
18  2011     1        18       2    1408    1508 AA          428 N507AA       60
# … with 227,478 more rows, 11 more variables: AirTime <int>, ArrDelay <int>,
#   DepDelay <int>, Origin <chr>, Dest <chr>, Distance <int>, TaxiIn <int>,
#   TaxiOut <int>, Cancelled <int>, CancellationCode <chr>, Diverted <int>, and
#   abbreviated variable names ¹​DayofMonth, ²​DayOfWeek, ³​UniqueCarrier,
#   ⁴​FlightNum, ⁵​ActualElapsedTime

In [30]:
data.frame(head(flights)) #convert to  a normal data flame to see all the columns

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1     1          6         1400    1500    AA            428
2 2011 1     2          7         1401    1501    AA            428
3 2011 1     3          1         1352    1502    AA            428
4 2011 1     4          2         1403    1513    AA            428
5 2011 1     5          3         1405    1507    AA            428
6 2011 1     6          4         1359    1503    AA            428
  TailNum ActualElapsedTime ⋯ ArrDelay DepDelay Origin Dest Distance TaxiIn
1 N576AA  60                ⋯ -10       0       IAH    DFW  224      7
2 N557AA  60                ⋯  -9       1       IAH    DFW  224      6
3 N541AA  70                ⋯  -8      -8       IAH    DFW  224      5
4 N403AA  70                ⋯   3       3       IAH    DFW  224      9
5 N492AA  62                ⋯  -3       5       IAH    DFW  224      9
6 N262AA  64                ⋯  -7      -1       IAH    DFW  224      6
  TaxiOut Cancelled CancellationCode Diverted
1 13      0                          0
2  9      0                          0
3 17      0                          0
4 22      0                          0
5  9      0                          0
6 13      0                          0

# Select

In [ ]:
## Select() Function

In [33]:
# Base R approach to select FlightNum,DayOfWeek, ArrTime, and ArrDelay columns

head(flights[,c("FlightNum","DayOfWeek","ArrTime","ArrDelay")])

  FlightNum DayOfWeek ArrTime ArrDelay
1 428       6         1500    -10
2 428       7         1501     -9
3 428       1         1502     -8
4 428       2         1513      3
5 428       3         1507     -3
6 428       4         1503     -7

In [36]:
# select () function to select FlightNum,DayOfWeek, ArrTime, and ArrDelay columns

head(select(flights,FlightNum,DayOfWeek,ArrTime,ArrDelay))

  FlightNum DayOfWeek ArrTime ArrDelay
1 428       6         1500    -10
2 428       7         1501     -9
3 428       1         1502     -8
4 428       2         1513      3
5 428       3         1507     -3
6 428       4         1503     -7

In [37]:
# Suppose we want to keep every variable that starts with a “D”.
flightsD<-select(flights,starts_with("D"))

head(flightsD)

  DayofMonth DayOfWeek DepTime DepDelay Dest Distance Diverted
1 1          6         1400     0       DFW  224      0
2 2          7         1401     1       DFW  224      0
3 3          1         1352    -8       DFW  224      0
4 4          2         1403     3       DFW  224      0
5 5          3         1405     5       DFW  224      0
6 6          4         1359    -1       DFW  224      0

In [39]:
# Find out every variable in flights that ends with “s”.

flightsends<-select(flights,ends_with("e"))
head(flightsends)

  DepTime ArrTime ActualElapsedTime AirTime Distance CancellationCode
1 1400    1500    60                40      224
2 1401    1501    60                45      224
3 1352    1502    70                48      224
4 1403    1513    70                39      224
5 1405    1507    62                44      224
6 1359    1503    64                45      224

In [41]:
# Print out the columns from FlightNumber to Destination of flights
head(select(hflights, 8:15))

     FlightNum TailNum ActualElapsedTime AirTime ArrDelay DepDelay Origin Dest
5424 428       N576AA  60                40      -10       0       IAH    DFW
5425 428       N557AA  60                45       -9       1       IAH    DFW
5426 428       N541AA  70                48       -8      -8       IAH    DFW
5427 428       N403AA  70                39        3       3       IAH    DFW
5428 428       N492AA  62                44       -3       5       IAH    DFW
5429 428       N262AA  64                45       -7      -1       IAH    DFW

In [42]:
# You can also omit variables using the select() function by using the negative sign.

flightdrop<-select(flights,-c(CancellationCode,DepDelay))

head(flightdrop)

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1     1          6         1400    1500    AA            428
2 2011 1     2          7         1401    1501    AA            428
3 2011 1     3          1         1352    1502    AA            428
4 2011 1     4          2         1403    1513    AA            428
5 2011 1     5          3         1405    1507    AA            428
6 2011 1     6          4         1359    1503    AA            428
  TailNum ActualElapsedTime AirTime ArrDelay Origin Dest Distance TaxiIn
1 N576AA  60                40      -10      IAH    DFW  224      7
2 N557AA  60                45       -9      IAH    DFW  224      6
3 N541AA  70                48       -8      IAH    DFW  224      5
4 N403AA  70                39        3      IAH    DFW  224      9
5 N492AA  62                44       -3      IAH    DFW  224      9
6 N262AA  64                45       -7      IAH    DFW  224      6
  TaxiOut Cancelled Diverted
1 13      0         0
2  9      0         0
3 17      0         0
4 22      0         0
5  9      0         0
6 13      0         0

In [43]:
#select random rows form a data frame
sample_n(flightdrop, size=2)

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 12    26         1         1427    1525    XE            4225
2 2011  7    15         5         1803    1917    XE            2425
  TailNum ActualElapsedTime AirTime ArrDelay Origin Dest Distance TaxiIn
1 N14943  58                37      -7       IAH    DAL  216      9
2 N14974  74                49      -1       IAH    BRO  308      6
  TaxiOut Cancelled Diverted
1 12      0         0
2 19      0         0

In [44]:
flightdrop<-select(flights,-c(3,7))
sample_n(flightdrop, size=2)

  Year Month DayOfWeek DepTime ArrTime FlightNum TailNum ActualElapsedTime
1 2011 11    2         1219    1344     145      N932FR  145
2 2011 10    7         1234    1557    1515      N11612  143
  AirTime ArrDelay DepDelay Origin Dest Distance TaxiIn TaxiOut Cancelled
1 129     -3       -6       HOU    DEN  883      5      11      0
2 121      1        4       IAH    CLT  912      7      15      0
  CancellationCode Diverted
1                  0
2                  0

# Filter

In [46]:
# The filter() function is used to extract subsets of rows from a dataframe.

In [48]:
head(filter(flights, Distance >= 1000))

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1     1          6         1824    2106    AS            731
2 2011 1     2          7         1823    2103    AS            731
3 2011 1     3          1         1827    2107    AS            731
4 2011 1     4          2         1845    2132    AS            731
5 2011 1     5          3         1821    2109    AS            731
6 2011 1     6          4         1834    2133    AS            731
  TailNum ActualElapsedTime ⋯ ArrDelay DepDelay Origin Dest Distance TaxiIn
1 N614AS  282               ⋯ -4       -1       IAH    SEA  1874     7
2 N627AS  280               ⋯ -7       -2       IAH    SEA  1874     7
3 N627AS  280               ⋯ -3        2       IAH    SEA  1874     4
4 N618AS  287               ⋯ 22       20       IAH    SEA  1874     8
5 N607AS  288               ⋯ -1       -4       IAH    SEA  1874     5
6 N624AS  299               ⋯ 23        9       IAH    SEA  1874     3
  TaxiOut Cancelled CancellationCode Diverted
1 20      0                          0
2 16      0                          0
3 16      0                          0
4 11      0                          0
5 10      0                          0
6 18      0                          0

In [50]:
# Select the flights that had DFW as their destination.

fdest <- filter(hflights, Dest == 'DFW')
head(fdest)

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1     1          6         1400    1500    AA            428
2 2011 1     2          7         1401    1501    AA            428
3 2011 1     3          1         1352    1502    AA            428
4 2011 1     4          2         1403    1513    AA            428
5 2011 1     5          3         1405    1507    AA            428
6 2011 1     6          4         1359    1503    AA            428
  TailNum ActualElapsedTime ⋯ ArrDelay DepDelay Origin Dest Distance TaxiIn
1 N576AA  60                ⋯ -10       0       IAH    DFW  224      7
2 N557AA  60                ⋯  -9       1       IAH    DFW  224      6
3 N541AA  70                ⋯  -8      -8       IAH    DFW  224      5
4 N403AA  70                ⋯   3       3       IAH    DFW  224      9
5 N492AA  62                ⋯  -3       5       IAH    DFW  224      9
6 N262AA  64                ⋯  -7      -1       IAH    DFW  224      6
  TaxiOut Cancelled CancellationCode Diverted
1 13      0                          0
2  9      0                          0
3 17      0                          0
4 22      0                          0
5  9      0                          0
6 13      0                          0

In [52]:
# Find out all flights that departed late but arrived ahead of schedule.
head(filter(flights, DepDelay > 0 & ArrDelay < 0))

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1      2         7         1401    1501    AA            428
2 2011 1      5         3         1405    1507    AA            428
3 2011 1     18         2         1408    1508    AA            428
4 2011 1     18         2          721     827    AA            460
5 2011 1     12         3         2015    2113    AA            533
6 2011 1     13         4         2020    2116    AA            533
  TailNum ActualElapsedTime ⋯ ArrDelay DepDelay Origin Dest Distance TaxiIn
1 N557AA  60                ⋯ -9        1       IAH    DFW  224      6
2 N492AA  62                ⋯ -3        5       IAH    DFW  224      9
3 N507AA  60                ⋯ -2        8       IAH    DFW  224      7
4 N558AA  66                ⋯ -8        1       IAH    DFW  224      7
5 N555AA  58                ⋯ -7       10       IAH    DFW  224      9
6 N4XCAA  56                ⋯ -4       15       IAH    DFW  224      4
  TaxiOut Cancelled CancellationCode Diverted
1  9      0                          0
2  9      0                          0
3 11      0                          0
4 13      0                          0
5 10      0                          0
6  8      0                          0

In [54]:
# Extract the flight AirTime,ArrDelay and DepDelay,where origin = “IAH” and ActualElapsedTime greater than 200.

flights1<-filter(flights,Origin=="IAH"& ActualElapsedTime>200)
head(select(flights1,c(AirTime,ArrDelay,DepDelay)))

  AirTime ArrDelay DepDelay
1 255     -4       -1
2 257     -7       -2
3 260     -3        2
4 268     22       20
5 273     -1       -4
6 278     23        9

# arrange()

In [ ]:
# The arrange() function is used to reorder rows of a data frame according to one of the variables/columns
# The default is in ascending order.

In [55]:
# Sort the flights data by the Distance in ascending order.

flightSort<-arrange(flights,Distance)
head(flightSort,3) #See the first 3 rows

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 2     23         3         947     1030    XE            2204
2 2011 3      1         2         921     1015    XE            2204
3 2011 3      2         3         905     1001    XE            2204
  TailNum ActualElapsedTime ⋯ ArrDelay DepDelay Origin Dest Distance TaxiIn
1 N17928  43                ⋯ 29        32      IAH    BPT  79       5
2 N14940  54                ⋯ 14         6      IAH    BPT  79       5
3 N14943  56                ⋯  0       -10      IAH    BPT  79       5
  TaxiOut Cancelled CancellationCode Diverted
1 16      0                          0
2 19      0                          0
3 22      0                          0

In [56]:
tail(flightSort,3) #See the last 3 rows

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 12    3          6         935     1408    CO            1
2 2011 12    2          5         937     1415    CO            1
3 2011 12    1          4         936     1431    CO            1
  TailNum ActualElapsedTime ⋯ ArrDelay DepDelay Origin Dest Distance TaxiIn
1 N76055  513               ⋯ -2       0        IAH    HNL  3904     4
2 N69059  518               ⋯  5       2        IAH    HNL  3904     7
3 N67058  535               ⋯ 21       1        IAH    HNL  3904     3
  TaxiOut Cancelled CancellationCode Diverted
1 16      0                          0
2 23      0                          0
3 14      0                          0

In [57]:
# Columns can be arranged in descending order too by using the special desc() operator.
flightSort<-arrange(flights,desc(Distance))

In [62]:
# Select UniqueCarrier and DepDelay columns and sort by DepDelay
head(flights %>% #chaining method
     select(UniqueCarrier, DepDelay) %>%
            arrange(DepDelay))

  UniqueCarrier DepDelay
1 OO            -33
2 MQ            -23
3 XE            -19
4 XE            -19
5 CO            -18
6 EV            -18

In [64]:
# Print out all flights leaving to JFK before 10am and arrange according to decreasing AirTime.
head(arrange(filter(flights, Dest == 'JFK' & DepTime<1000), desc(AirTime)))

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 8     14         7         619     1133    B6            620
2 2011 6      2         4         648     1138    B6            620
3 2011 5     21         6         741     1225    B6            620
4 2011 7      1         5         700     1145    B6            620
5 2011 7     15         5         630     1111    B6            620
6 2011 7     17         7         623     1114    B6            620
  TailNum ActualElapsedTime ⋯ ArrDelay DepDelay Origin Dest Distance TaxiIn
1 N612JB  254               ⋯ 33       -11      HOU    JFK  1428     23
2 N306JB  230               ⋯ 12       -12      HOU    JFK  1428      7
3 N236JB  224               ⋯ 59        41      HOU    JFK  1428      5
4 N316JB  225               ⋯ 10        -5      HOU    JFK  1428      3
5 N641JB  221               ⋯ 11         0      HOU    JFK  1428      7
6 N746JB  231               ⋯ 14        -7      HOU    JFK  1428      6
  TaxiOut Cancelled CancellationCode Diverted
1 13      0                          0
2 12      0                          0
3 11      0                          0
4 16      0                          0
5  9      0                          0
6 21      0                          0

# mutate()

In [ ]:
# The mutate() function exists to compute transformations of variables in a data frame.
# you want to create new varibles that derived from existing varibles and mutate() provides a clean interface for doing that.

In [65]:
flights <- flights %>% mutate(Speed = Distance/AirTime*60)

head(flights)  # Observe here new column 'Speed' added

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1     1          6         1400    1500    AA            428
2 2011 1     2          7         1401    1501    AA            428
3 2011 1     3          1         1352    1502    AA            428
4 2011 1     4          2         1403    1513    AA            428
5 2011 1     5          3         1405    1507    AA            428
6 2011 1     6          4         1359    1503    AA            428
  TailNum ActualElapsedTime ⋯ DepDelay Origin Dest Distance TaxiIn TaxiOut
1 N576AA  60                ⋯  0       IAH    DFW  224      7      13
2 N557AA  60                ⋯  1       IAH    DFW  224      6       9
3 N541AA  70                ⋯ -8       IAH    DFW  224      5      17
4 N403AA  70                ⋯  3       IAH    DFW  224      9      22
5 N492AA  62                ⋯  5       IAH    DFW  224      9       9
6 N262AA  64                ⋯ -1       IAH    DFW  224      6      13
  Cancelled CancellationCode Diverted Speed
1 0                          0        336.0000
2 0                          0        298.6667
3 0                          0        280.0000
4 0                          0        344.6154
5 0                          0        305.4545
6 0                          0        298.6667

In [67]:
# calculate the percentage of flights canceled or diverted
head(flights %>%
    group_by(UniqueCarrier) %>%
        summarise_each(funs(mean), Cancelled, Diverted))

  UniqueCarrier Cancelled   Diverted
1 AA            0.018495684 0.001849568
2 AS            0.000000000 0.002739726
3 B6            0.025899281 0.005755396
4 CO            0.006782614 0.002627370
5 DL            0.015903067 0.003029156
6 EV            0.034482759 0.003176044

In [70]:
# Combining filter, mutate, and arrange

# For each UniqueCarrier, calculate which two days of the year they had their longest departure delays

head(flights %>%
    group_by(UniqueCarrier) %>%
    select(Month, DayofMonth, DepDelay) %>%
    filter(min_rank(desc(DepDelay)) <= 2) %>%
    arrange(UniqueCarrier, desc(DepDelay)))

Adding missing grouping variables: `UniqueCarrier`

  UniqueCarrier Month DayofMonth DepDelay
1 AA            12    12         970
2 AA            11    19         677
3 AS             2    28         172
4 AS             7     6         138
5 B6            10    29         310
6 B6             8    19         283

In [71]:
# For each month, calculate the number of flights and the change from the previous month
head(flights %>%
    group_by(Month) %>%
    summarise(flight_count = n()) %>%
    mutate(change = flight_count - lag(flight_count)))

  Month flight_count change
1 1     18910           NA
2 2     17128        -1782
3 3     19470         2342
4 4     18593         -877
5 5     19172          579
6 6     19600          428