In [12]:
library(dplyr)

data <-iris

In [13]:
head(data,2)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa

In [14]:
data %>% group_by(Species) %>% summarise(count = n())

  Species    count
1 setosa     50
2 versicolor 50
3 virginica  50

In [18]:
df = read.csv('data.csv')

dim(df)

[1] 16000   176

In [20]:
head(df)

  X Time                R531NT1559A.VALUE R531NT1950.VALUE X531XT1950.VALUE
1 1 2022-01-01 05:27:58 FALSE             FALSE            FALSE
2 2 2022-01-01 05:28:03 FALSE             FALSE            FALSE
3 3 2022-01-01 05:28:08 FALSE             FALSE            FALSE
4 4 2022-01-01 05:28:13 FALSE             FALSE            FALSE
5 5 2022-01-01 05:28:18 FALSE             FALSE            FALSE
6 6 2022-01-01 05:28:23 FALSE             FALSE            FALSE
  GD.ActiveGradeName GD.ActiveGradeNumber GD.AutoGradeChangeActive
1 MR080700           33080700             FALSE
2 MR080700           33080700             FALSE
3 MR080700           33080700             FALSE
4 MR080700           33080700             FALSE
5 MR080700           33080700             FALSE
6 MR080700           33080700             FALSE
  GD.ManualGradeChangeActive GD.OnGradeStatus ⋯ D33.Drive.Speed.Act
1 FALSE                      TRUE             ⋯ 1498.286
2 FALSE                      TRUE             ⋯ 1498.291
3 FALSE                      TRUE             ⋯ 1498.255
4 FALSE                      TRUE             ⋯ 1498.443
5 FALSE                      TRUE             ⋯ 1498.291
6 FALSE                      TRUE             ⋯ 1498.251
  D34.Drive.Speed.Act D37.Drive.Speed.Act D36.Drive.Speed.Act
1 1498.506            1502.686            1502.474
2 1498.155            1502.920            1502.544
3 1499.097            1503.198            1502.483
4 1498.144            1503.070            1502.803
5 1499.055            1502.633            1502.588
6 1498.163            1503.350            1502.485
  D35.Drive.Speed.Act D38.Drive.Speed.Act D42.Drive.Speed.Act
1 1506.160            1508.278            1509.206
2 1506.489            1508.164            1510.177
3 1506.241            1507.993            1510.379
4 1506.531            1508.439            1509.656
5 1506.463            1507.743            1509.705
6 1506.500            1508.397            1510.573
  D46.Drive.Speed.Act D45.Drive.Speed.Act D47.Drive.Speed.Act
1 1501.137            30.15400            1501.120
2 1501.327            29.88133            1501.236
3 1501.503            29.90944            1501.384
4 1501.158            30.09050            1501.113
5 1501.279            29.83308            1501.277
6 1501.357            29.92720            1501.104

In [22]:
df %>% group_by('GD.ActiveGradeName') %>% summarise(count = n())

  "GD.ActiveGradeName" count
1 GD.ActiveGradeName   16000

In [56]:
df1 = data.frame(as = df$'GD.ActiveGradeName')

In [57]:
df1$as = as.factor(df1$as)

In [58]:
class(df1$as)

[1] "factor"

In [59]:
df1 %>% group_by(df1$'GD.ActiveGradeName') %>% summarise(count = n())

  count
1 16000