## Create DataFrame

In [1]:
# Create Empty Dataframe
df <- data.frame()

print(df)

data frame with 0 columns and 0 rows

## Create Dataframe from matrix

In [2]:
mt <- matrix(1:20, ncol = 5)

print(data.frame(mt))

  X1 X2 X3 X4 X5
1  1  5  9 13 17
2  2  6 10 14 18
3  3  7 11 15 19
4  4  8 12 16 20

## Create Dataframe from list

In [3]:
# Example 02

Name <- c("Jon", "Bill", "Maria", "Ben", "Tina")
Age <- c(23, 41, 32, 58, 26)

df <- data.frame(Name, Age)

print(df)

   Name Age
1   Jon  23
2  Bill  41
3 Maria  32
4   Ben  58
5  Tina  26

In [5]:
df <- data.frame(Name = c("Jon", "Bill", "Maria", "Ben", "Tina"),
                 Age = c(23, 41, 32, 58, 26))

print(df)

   Name Age
1   Jon  23
2  Bill  41
3 Maria  32
4   Ben  58
5  Tina  26

## Read CSV file as Data frame

In [7]:
mydata <- read.csv("sampledata//file_01.csv")

read.csv("sampledata//heart.csv") -> data

print(mydata)

  X  Name Age
1 1   Jon  23
2 2  Bill  41
3 3 Maria  32
4 4   Ben  58
5 5  Tina  26

## Create Dataframe with NA Values

In [8]:
df <- data.frame(A = c(11,11,NA,NA,22,33,33,NA),
                 B = c(99,99,NA,77,77,NA,55,55),
                 C = c("Green","Green",NA,"Blue","Blue",NA,"Red","Red"),
                 D = c(NA,NA,"Blue","Yellow","Yellow","Purple",NA,NA))
print(df)

   A  B     C      D
1 11 99 Green   <NA>
2 11 99 Green   <NA>
3 NA NA  <NA>   Blue
4 NA 77  Blue Yellow
5 22 77  Blue Yellow
6 33 NA  <NA> Purple
7 33 55   Red   <NA>
8 NA 55   Red   <NA>

In [11]:
# Supress Warnings
    options(warn=-1)

## Create Dataframe with Nans

In [12]:
df <- data.frame(A = c(11,11,0/0,0/0,22,33,33,33),
                 B = c(99,99,0/0,77,77,log(-4),55,55),
                 C = c("Green","Green",0/0,"Blue","Blue",0/0,"Red","Red"),
                 D = c("Blue",0/0,"Blue","Yellow","Yellow","Purple",log(-4),log(-4)))

print(df)

    A   B     C      D
1  11  99 Green   Blue
2  11  99 Green    NaN
3 NaN NaN   NaN   Blue
4 NaN  77  Blue Yellow
5  22  77  Blue Yellow
6  33 NaN   NaN Purple
7  33  55   Red    NaN
8  33  55   Red    NaN

In [13]:
set.seed(456)

mydata <- data.frame(a=letters[1:5], x=runif(5,10,50), y=sample(5), z=rnorm(5))

print(mydata)

  a        x y          z
1 a 13.58206 4 -0.3240611
2 b 18.42049 3  0.6906430
3 c 39.31821 1  0.2505479
4 d 44.08534 2  1.0073523
5 e 41.53592 5  0.5732347

In [14]:
df <- data.frame(matrix(ncol = 2, nrow = 0))

colnames(df) <-c("c1", "c2")

#add rows
df[1,] <- c(10, 20)
df[2,] <- c(30, 40)
df[3,] <- c(50, 60)

#print
print(df)

  c1 c2
1 10 20
2 30 40
3 50 60

## Create DataFrame using multiple lists as rows of data

In [15]:
data.frame(rbind(c(5,45,77),
                 c(5.11,26,47),
                 c(5.6,30,55),
                 c(5.9,34,59),
                 c(4.8,40,72),
                 c(5.8,36,60),
                 c(5.3,19,40),
                 c(5.8,28,60),
                 c(5.5,23,45),
                 c(5.6,32,58)))

   X1   X2 X3
1  5.00 45 77
2  5.11 26 47
3  5.60 30 55
4  5.90 34 59
5  4.80 40 72
6  5.80 36 60
7  5.30 19 40
8  5.80 28 60
9  5.50 23 45
10 5.60 32 58

## Export data  to csv file

In [16]:
write.csv(df,"sampledata//file_02.csv")

## Merge

In [17]:
super_sleepers_1 <- data.frame(rating=1:4,animal=c('koala', 'hedgehog', 'sloth', 'panda'))
super_sleepers_2 <- data.frame(country=c('Australia', 'Italy', 'Peru', 'China'),avg_sleep_hours=c(21, 18, 17, 10))

super_sleepers <- cbind(super_sleepers_1, super_sleepers_2)
print(super_sleepers)

  rating   animal   country avg_sleep_hours
1      1    koala Australia              21
2      2 hedgehog     Italy              18
3      3    sloth      Peru              17
4      4    panda     China              10