# Create Dataframe

In [26]:
df = read.csv("sampledata//heart.csv")

In [27]:
head(df)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 52  1   0  125      212  0   1       168     0     1.0     2     2  3
2 53  1   0  140      203  1   0       155     1     3.1     0     0  3
3 70  1   0  145      174  0   1       125     1     2.6     0     0  3
4 61  1   0  148      203  0   1       161     0     0.0     2     1  3
5 62  0   0  138      294  1   1       106     0     1.9     1     3  2
6 58  0   0  100      248  0   0       122     0     1.0     1     0  2
  target
1 0
2 0
3 0
4 0
5 0
6 1

In [28]:
head(df,3)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 52  1   0  125      212  0   1       168     0     1.0     2     2  3
2 53  1   0  140      203  1   0       155     1     3.1     0     0  3
3 70  1   0  145      174  0   1       125     1     2.6     0     0  3
  target
1 0
2 0
3 0

In [29]:
tail(df)

     age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1020 47  1   0  112      204  0   1       143     0     0.1     2     0  2
1021 59  1   1  140      221  0   1       164     1     0.0     2     0  2
1022 60  1   0  125      258  0   0       141     1     2.8     1     1  3
1023 47  1   0  110      275  0   0       118     1     1.0     1     1  2
1024 50  0   0  110      254  0   0       159     0     0.0     2     0  2
1025 54  1   0  120      188  0   1       113     0     1.4     1     1  3
     target
1020 1
1021 1
1022 0
1023 0
1024 1
1025 0

In [30]:
tail(df,3)

     age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1023 47  1   0  110      275  0   0       118     1     1.0     1     1  2
1024 50  0   0  110      254  0   0       159     0     0.0     2     0  2
1025 54  1   0  120      188  0   1       113     0     1.4     1     1  3
     target
1023 0
1024 1
1025 0

In [31]:
View(df)

     age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1    52  1   0  125      212  0   1       168     0     1.0     2     2  3
2    53  1   0  140      203  1   0       155     1     3.1     0     0  3
3    70  1   0  145      174  0   1       125     1     2.6     0     0  3
4    61  1   0  148      203  0   1       161     0     0.0     2     1  3
5    62  0   0  138      294  1   1       106     0     1.9     1     3  2
6    58  0   0  100      248  0   0       122     0     1.0     1     0  2
7    58  1   0  114      318  0   2       140     0     4.4     0     3  1
8    55  1   0  160      289  0   0       145     1     0.8     1     1  3
9    46  1   0  120      249  0   0       144     0     0.8     2     0  3
10   54  1   0  122      286  0   0       116     1     3.2     1     2  2
11   71  0   0  112      149  0   1       125     0     1.6     1     0  2
12   43  0   0  132      341  1   0       136     1     3.0     1     0  3
13   34  0   1  118      210  0   1       192     0     0.7     2     0  2
14   51  1   0  140      298  0   1       122     1     4.2     1     3  3
15   52  1   0  128      204  1   1       156     1     1.0     1     0  0
16   34  0   1  118      210  0   1       192     0     0.7     2     0  2
17   51  0   2  140      308  0   0       142     0     1.5     2     1  2
18   54  1   0  124      266  0   0       109     1     2.2     1     1  3
19   50  0   1  120      244  0   1       162     0     1.1     2     0  2
20   58  1   2  140      211  1   0       165     0     0.0     2     0  2
21   60  1   2  140      185  0   0       155     0     3.0     1     0  2
22   67  0   0  106      223  0   1       142     0     0.3     2     2  2
23   45  1   0  104      208  0   0       148     1     3.0     1     0  2
24   63  0   2  135      252  0   0       172     0     0.0     2     0  2
25   42  0   2  120      209  0   1       173     0     0.0     1     0  2
26   61  0   0  145      307  0   0       146     1     1.0     1     0  3
27   44  1   2  130      233  0   1       179     1     0.4     2     0  2
28   58  0   1  136      319  1   0       152     0     0.0     2     2  2
29   56  1   2  130      256  1   0       142     1     0.6     1     1  1
30   55  0   0  180      327  0   2       117     1     3.4     1     0  2
⋮    ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
996  44  1   1  120      263  0   1       173     0     0.0     2     0  3
997  56  0   0  134      409  0   0       150     1     1.9     1     2  3
998  54  1   0  120      188  0   1       113     0     1.4     1     1  3
999  42  1   0  136      315  0   1       125     1     1.8     1     0  1
1000 67  1   0  125      254  1   1       163     0     0.2     1     2  3
1001 64  1   0  145      212  0   0       132     0     2.0     1     2  1
1002 42  1   0  140      226  0   1       178     0     0.0     2     0  2
1003 66  1   0  112      212  0   0       132     1     0.1     2     1  2
1004 52  1   0  108      233  1   1       147     0     0.1     2     3  3
1005 51  0   2  140      308  0   0       142     0     1.5     2     1  2
1006 55  0   0  128      205  0   2       130     1     2.0     1     1  3
1007 58  1   2  140      211  1   0       165     0     0.0     2     0  2
1008 56  1   3  120      193  0   0       162     0     1.9     1     0  3
1009 42  1   1  120      295  0   1       162     0     0.0     2     0  2
1010 40  1   0  152      223  0   1       181     0     0.0     2     0  3
1011 51  1   0  140      299  0   1       173     1     1.6     2     0  3
1012 45  1   1  128      308  0   0       170     0     0.0     2     0  2
1013 48  1   1  110      229  0   1       168     0     1.0     0     0  3
1014 58  1   0  114      318  0   2       140     0     4.4     0     3  1
1015 44  0   2  108      141  0   1       175     0     0.6     1     0  2
1016 58  1   0  128      216  0   0       131     1     2.2     1     3  3
1017 65  1   3  138      282  1   0       174     0     1.4     1     1  2
1018 53  1   0  123      282  0   1        95     1     2.0     1     2  3
1019 41  1   0  110      172  0   0       158     0     0.0     2     0  3
1020 47  1   0  112      204  0   1       143     0     0.1     2     0  2
1021 59  1   1  140      221  0   1       164     1     0.0     2     0  2
1022 60  1   0  125      258  0   0       141     1     2.8     1     1  3
1023 47  1   0  110      275  0   0       118     1     1.0     1     1  2
1024 50  0   0  110      254  0   0       159     0     0.0     2     0  2
1025 54  1   0  120      188  0   1       113     0     1.4     1     1  3
     target
1    0
2    0
3    0
4    0
5    0
6    1
7    0
8    0
9    0
10   0
11   1
12   0
13   1
14   0
15   0
16   1
17   1
18   0
19   1
20   1
21   0
22   1
23   1
24   1
25   1
26   0
27   1
28   0
29   0
30   0
⋮    ⋮
996  1
997  0
998  0
999  0
1000 0
1001 0
1002 1
1003 0
1004 1
1005 1
1006 0
1007 1
1008 1
1009 1
1010 0
1011 0
1012 1
1013 0
1014 0
1015 1
1016 0
1017 0
1018 0
1019 0
1020 1
1021 1
1022 0
1023 0
1024 1
1025 0

## Size/Dimention of the dataframe

In [32]:
dim(df) # rows,col

[1] 1025   14

# Column Count

In [34]:
ncol(df)

[1] 14

# Row Count

In [35]:
nrow(df)

[1] 1025

# Column Names

In [36]:
colnames(df)

 [1] "age"      "sex"      "cp"       "trestbps" "chol"     "fbs"
 [7] "restecg"  "thalach"  "exang"    "oldpeak"  "slope"    "ca"
[13] "thal"     "target"

In [37]:
names(df)

 [1] "age"      "sex"      "cp"       "trestbps" "chol"     "fbs"
 [7] "restecg"  "thalach"  "exang"    "oldpeak"  "slope"    "ca"
[13] "thal"     "target"

In [38]:
colnames(df)[1] <- 'CC1'
colnames(df)[2] <- 'CC2'

colnames(df)

 [1] "CC1"      "CC2"      "cp"       "trestbps" "chol"     "fbs"
 [7] "restecg"  "thalach"  "exang"    "oldpeak"  "slope"    "ca"
[13] "thal"     "target"

## View Single Column in data frame

In [40]:
df$target

   [1] 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 1 1 0 1 1 0 1 1 1 1 0 1 0 0 0 0 1 0 0 1 0 1
  [38] 1 1 0 1 1 0 0 1 1 1 0 1 0 1 0 1 0 0 0 1 1 0 0 1 1 0 1 1 0 1 0 1 0 0 0 0 0
  [75] 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 1 1 0 0 1 1 1 0 0 1 1 1 1 1 1 0 0 0 0 0 0
 [112] 1 0 0 0 0 0 0 1 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 0 0 1 1 0 1 0
 [149] 1 1 0 0 0 1 0 1 1 1 1 1 0 1 0 0 0 0 0 1 1 1 1 0 1 1 0 0 0 0 0 0 0 1 0 1 1
 [186] 0 0 0 0 0 1 1 1 1 0 1 0 1 1 0 1 1 1 1 1 1 0 1 1 0 1 0 0 1 1 1 0 1 0 0 0 0
 [223] 1 1 1 1 0 1 1 0 0 1 0 1 1 1 0 0 0 0 1 0 1 0 1 1 0 0 1 1 0 1 0 0 0 1 1 1 0
 [260] 1 1 1 1 1 0 1 0 0 0 1 1 1 1 0 1 0 1 1 0 1 1 1 1 1 0 1 1 1 1 0 1 0 1 1 0 0
 [297] 0 0 1 1 1 1 1 0 1 0 1 1 0 1 0 0 0 1 1 1 1 1 0 1 1 1 0 0 1 1 0 0 0 1 1 0 1
 [334] 1 0 0 1 1 0 0 1 1 1 1 1 0 0 1 0 0 1 0 0 1 0 1 0 0 0 1 1 1 1 1 0 1 0 0 1 1
 [371] 0 0 1 0 1 1 1 1 0 1 0 0 0 0 0 1 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 1 1 1 0 0 1
 [408] 0 1 0 1 0 0 0 0 1 1 1 1 1 1 1 1 0 0 0 1 1 0 0 0 0 1 1 1 1 0 0 1 0 0 0 0 1
 [445] 1 1 1 0 1 0 0 1 0 1 0 1 0 1 1 1 0 1 1 1 1 1 1 0 1 0 1 1 1 1 0 1 0 0 1 0 0
 [482] 0 0 1 0 0 0 0 1 1 1 1 0 0 1 1 0 0 1 1 1 1 1 1 0 1 0 1 0 0 1 0 0 0 1 0 0 1
 [519] 0 0 0 1 1 0 0 1 0 1 1 1 0 1 0 1 1 1 1 1 0 1 0 1 1 0 1 0 0 1 1 1 0 0 0 1 0
 [556] 0 0 1 1 0 1 1 1 0 0 1 1 1 1 1 1 0 1 0 0 1 1 0 1 0 1 1 1 0 0 1 0 0 0 0 1 0
 [593] 0 0 0 0 1 1 0 1 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 1 0 0 0 1
 [630] 0 0 1 1 0 0 1 0 1 0 1 1 0 1 1 1 0 0 1 1 1 0 1 1 0 1 1 0 1 0 1 0 0 1 1 1 1
 [667] 1 0 1 0 0 0 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 1 1 0 1 0 0 1 0 0 0 1 0 1
 [704] 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0 1 1 0 1 1 1 1 0 0 1 0 1 1 0 1 1 0 1 0 0 0 0
 [741] 1 1 0 1 1 1 0 0 1 1 1 1 1 1 1 1 0 1 1 0 0 1 1 1 0 0 0 0 1 1 1 1 0 0 1 1 0
 [778] 0 0 1 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 1 0 0 1 0 1 0 0 1 1 0 1 1 1 0 0 0 0
 [815] 1 1 1 1 1 0 0 0 0 1 0 1 1 0 1 0 1 1 1 0 0 0 1 1 1 1 0 1 0 0 0 0 1 0 1 0 0
 [852] 1 0 0 0 1 1 1 1 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 0 0 0 1 0 1 1 0 0 0 0 0 0 1
 [889] 0 0 0 1 0 0 0 0 1 1 1 1 0 1 0 0 1 0 1 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 1 0
 [926] 0 0 1 0 0 0 0 1 0 1 1 1 0 1 1 0 1 1 1 0 1 1 1 0 1 0 0 1 1 1 1 1 0 1 1 1 1
 [963] 1 0 1 1 0 1 0 1 1 1 1 1 1 0 0 1 0 0 1 0 1 1 1 1 0 0 0 1 1 0 1 0 0 1 0 0 0
[1000] 0 0 1 0 1 1 0 1 1 1 0 0 1 0 0 1 0 0 0 0 1 1 0 0 1 0

## Get Unique/Distinct Items from Dataframe Column

In [56]:
read.csv("sampledata\\vehicle.csv") -> data

In [57]:
(unique(data$State))

 [1] "MS" "CA" "WI" "OR" "AZ" "FL" "LA" "GA" "WA" "PA" "TX" "OH" "MA" "VA" "CO"
[16] "NH" "IN" "MT" "NY" "UT" "NJ" "MI" "MN" "IL" "CT" "SC" "NC" "NM" "ME" "SD"
[31] "ID" "TN" "NE" "MO" "MD" "AL" "IA" "OK" "KS" "AR" "KY" "WY" "NV" "VT" "AK"
[46] "ND" "HI" "WV" "DE" "RI" "*"

## Find & Count Unique Values in R

In [58]:
table(data$State)

  *  AK  AL  AR  AZ  CA  CO  CT  DE  FL  GA  HI  IA  ID  IL  IN  KS  KY  LA  MA
  1   4  26   9  61 200  35  12   1 168  75   4  11  18  16  17  14  14  49  21
 MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  OR  PA  RI
 12   4  36  20  30  13  10  48   2   8   5  21  12  18  31  28  32  28  43   2
 SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
 30  11  29 293  25  32   3  22  13   3   4

# Sort

In [59]:
sort(unique(data$fm))

 [1] -1  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23

In [60]:
sort(unique(data$fm),decreasing = TRUE)

 [1] 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1  0 -1

In [61]:
table(data$fm)

 -1   0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  7 115 119  72  66  60  69  68  71  80  71  92  94 107  79  83  60  61  62  43
 19  20  21  22  23
 54  33  31  23   4

# Order

In [83]:
df = read.csv("sampledata//heart.csv")

head(df)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 52  1   0  125      212  0   1       168     0     1.0     2     2  3
2 53  1   0  140      203  1   0       155     1     3.1     0     0  3
3 70  1   0  145      174  0   1       125     1     2.6     0     0  3
4 61  1   0  148      203  0   1       161     0     0.0     2     1  3
5 62  0   0  138      294  1   1       106     0     1.9     1     3  2
6 58  0   0  100      248  0   0       122     0     1.0     1     0  2
  target
1 0
2 0
3 0
4 0
5 0
6 1

## Rename Columns

In [84]:
colnames(df)

 [1] "age"      "sex"      "cp"       "trestbps" "chol"     "fbs"
 [7] "restecg"  "thalach"  "exang"    "oldpeak"  "slope"    "ca"
[13] "thal"     "target"

In [85]:
colnames(df)[which(names(df) == "exang")] <- "Exang"

In [86]:
head(df,1)

  age sex cp trestbps chol fbs restecg thalach Exang oldpeak slope ca thal
1 52  1   0  125      212  0   1       168     0     1       2     2  3
  target
1 0

In [87]:
# Rename Single Column

colnames(df)[1] <- 'Age'

In [88]:
head(df,1)

  Age sex cp trestbps chol fbs restecg thalach Exang oldpeak slope ca thal
1 52  1   0  125      212  0   1       168     0     1       2     2  3
  target
1 0

## Rename All columns

In [89]:
col_names = c ("Age","Sex","CP","Trestbps","Chol","Fbs","Restecg","Thalach","Exang","Oldpeak","Slope","CA","Thal","Target")

colnames(df) = col_names

head(df,1)

  Age Sex CP Trestbps Chol Fbs Restecg Thalach Exang Oldpeak Slope CA Thal
1 52  1   0  125      212  0   1       168     0     1       2     2  3
  Target
1 0

In [90]:
# Using setNames
df <- setNames(df, col_names)

In [91]:
head(df,1)

  Age Sex CP Trestbps Chol Fbs Restecg Thalach Exang Oldpeak Slope CA Thal
1 52  1   0  125      212  0   1       168     0     1       2     2  3
  Target
1 0

## Add New Columns

In [92]:
df$column1 = "NA"

In [93]:
head(df,1)

  Age Sex CP Trestbps Chol Fbs Restecg Thalach Exang Oldpeak Slope CA Thal
1 52  1   0  125      212  0   1       168     0     1       2     2  3
  Target column1
1 0      NA

In [94]:
dim(df)

[1] 1025   15

## Add New Row

In [95]:
df = rbind(df, c(52,1,0,125,212,0,1,168,0,1,2,2,3,0,'NA'))
dim(df)

[1] 1026   15

In [96]:
library(tidyverse)

df= df %>% add_row(column1 = "NA", Exang = "0")

dim(df)

[1] 1027   15

In [97]:
df[1027,]

     Age Sex CP Trestbps Chol Fbs Restecg Thalach Exang Oldpeak Slope CA Thal
1027 NA  NA  NA NA       NA   NA  NA      NA      0     NA      NA    NA NA
     Target column1
1027 NA     NA

In [98]:

df[nrow(df) + 1,] <- c(52,1,0,125,212,0,1,168,0,1,2,2,3,0,'NA')

dim(df)

[1] 1028   15

In [100]:
head(df[-c(1,2:3)])  # here columns 1,2,3 has been droped

  Trestbps Chol Fbs Restecg Thalach Exang Oldpeak Slope CA Thal Target column1
1 125      212  0   1       168     0     1       2     2  3    0      NA
2 140      203  1   0       155     1     3.1     0     0  3    0      NA
3 145      174  0   1       125     1     2.6     0     0  3    0      NA
4 148      203  0   1       161     0     0       2     1  3    0      NA
5 138      294  1   1       106     0     1.9     1     3  2    0      NA
6 100      248  0   0       122     0     1       1     0  2    1      NA

In [105]:

drop <- c("CA","column1")

head(df[,!(names(df) %in% drop)])

  Age Sex CP Trestbps Chol Fbs Restecg Thalach Exang Oldpeak Slope Thal Target
1 52  1   0  125      212  0   1       168     0     1       2     3    0
2 53  1   0  140      203  1   0       155     1     3.1     0     3    0
3 70  1   0  145      174  0   1       125     1     2.6     0     3    0
4 61  1   0  148      203  0   1       161     0     0       2     3    0
5 62  0   0  138      294  1   1       106     0     1.9     1     2    0
6 58  0   0  100      248  0   0       122     0     1       1     2    1

In [107]:
# 01 : Delete column by name using 'subset'
head(subset(df, select = -c(Target)))

  Age Sex CP Trestbps Chol Fbs Restecg Thalach Exang Oldpeak Slope Thal
1 52  1   0  125      212  0   1       168     0     1       2     3
2 53  1   0  140      203  1   0       155     1     3.1     0     3
3 70  1   0  145      174  0   1       125     1     2.6     0     3
4 61  1   0  148      203  0   1       161     0     0       2     3
5 62  0   0  138      294  1   1       106     0     1.9     1     2
6 58  0   0  100      248  0   0       122     0     1       1     2