In [12]:
library(dplyr)

data <-iris

In [13]:
head(data,2)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa

In [14]:
data %>% group_by(Species) %>% summarise(count = n())

  Species    count
1 setosa     50
2 versicolor 50
3 virginica  50

In [17]:
df = read.csv('data.csv')

dim(df)

[1] 16000   176

In [ ]:
df %>% group_by(Species) %>% summarise(count = n())